.head {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.head > button {
  font-size: var(--font-medium);
  color: var(--color-lightgrey);
  cursor: pointer;
}
