.wrapper {
  width: 100%;
  position: relative;
}

.wrapper li {
  display: flex;
  align-items: center;
  font-size: var(--font-large);
  justify-content: center;
  background-color: var(--color-lightblue);
  height: 40px;
}

.wrapper li > a {
  text-align: center;
  color: var(--color-white);
}

.buttonUp,
.buttonDown {
  display: block;
  position: absolute;
  right: 10px;
  top: 14px;
  transform: scale(1.1);
  color: var(--color-white);
  cursor: pointer;
}

.slideBanner a {
  animation: bottomToTop 500ms;
}

@keyframes bottomToTop {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
