:root {
  /* color */
  --color-darkgrey: #777777;
  --color-lightgrey: #999999;
  --color-backgroundgrey: #eeeeee;
  --color-white: #fff;
  --color-darkblue: #1c79bc;
  --color-lightblue: #3387c3;
  --color-lightblack: #626262;
  --color-deepblack: #2d2d2d;
  --color-orange: #ff980b;
  --color-red: #de2222;
  --color-green: #48b130;

  /* font */
  --font-xlarge: 15px;
  --font-large: 14px;
  --font-medium: 13px;
  --font-small: 12px;
  --font-xsmall: 10.8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button,
input,
form {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--color-deepblack);
}
#root {
  width: 420px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--color-white);
}

/* Slide CSS */
.on {
  height: 40px;
  overflow: hidden;
}
